.sobre{
    
    height: 100vh;
    display: flex;
    align-items: center;
    background-color:#202020;
    color:#f3f3f3;
    
}
.text{
    padding-left: 6rem;
    width: 60%;

}
.text h3{
    font-size:30px;

}
.text p {

    color:#c3c3c3;
    font-size: 14px;
    width: 90%;
    padding: 15px;
}
.fotoPerfil{
    border-right: 5px solid #c21858;
    width: 50%;
    margin-left: 5rem;
    border-radius: 5px;
}

@media screen and (max-width:770px){
    .sobre{
        justify-content: space-between;
    }
    .text{
        width: 50%;
        padding-left: 4rem;
    }
    .fotoPerfil{
        padding-right: 0;

    }


}
@media screen and (max-width:570px){
    .sobre{
        padding: 20px;
        height: 100%;
        flex-direction: column-reverse;
        text-align: center;

    }
    .fotoPerfil{
        height: 50%;
        padding: 0;
        margin: 0;
    }
    .text{
        height: 50%;
        padding: 0;
        margin: 0;
    }

}
@media screen and (max-width:375px){
    .sobre {
        height: 100%;
        
    }
    .fotoPerfil{
        height: 50%;
        padding: 0;
        margin: 0;
    }
    .text{
        height: 50%;
        padding: 0;
        margin: 0;
    }
}
