@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    color:#c21858
}
body::-webkit-scrollbar-track {
    background-color: #121212;

}
body::-webkit-scrollbar {
    width: 8px;
    
    
}
body::-webkit-scrollbar-thumb {
    
    border-radius: 5px;
    background: #acacac;
}